:root {
  --color: #1f1235;
  --background: #fff;
}

.popup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'helvetica', sans-serif;
  color: var(--color);
  width: 200px;
  aspect-ratio: 5 / 2;
  background: var(--background);
  padding: 20px;
}
.button{
  border: 2px solid var(--color);
  padding: 5px 10px;
  color: var(--color);
  font-weight: bold;
  background: transparent;
  cursor: pointer;
}
#password:hover{
  background: #f1f1f1;
}
#password{
  padding: 5px;
  cursor: pointer;
  outline: none;
}