:root {
  --color: #2087e1;
  --white: #fff;
  --radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "helvetica", sans-serif;
  color: var(--color);
  width: 200px;
  aspect-ratio: 5 / 2;
  background: var(--white);
  padding: 20px;
}

.button {
  color: var(--white);
  background: var(--color);
  border: 2px solid var(--color);
  border-radius: var(--radius);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}
.button:hover {
  color: var(--color);
  background: var(--white);
  border: 2px solid var(--color);
}

.container-insert-password {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.container-insert-password:hover {
  background: #fefefe;
}

#password-insert {
  white-space: nowrap;
  outline: none;
}
